.page {
	position: relative;
	padding: 2rem;
	min-height: 100vh;
}

.background {
	position: absolute;
	inset: 0;
	background-size: contain;
	background-position: center;
	opacity: 0.15;
	z-index: 0;
	filter: blur(2px);
}

.detailsCard {
	position: relative;
	z-index: 2;
	background-color: #fff4e9;
	padding: 2rem;
	max-width: 400px;
	margin: 0 auto;
	border-radius: 12px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.cover {
	width: 340px;
	margin-bottom: 1rem;
	border-radius: 4px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.25rem;
    color: #695D4E;
}

.author {
	font-size: 1rem;
    color: #695D4E;
	margin-bottom: 1rem;
}

.description {
	font-size: 0.95rem;
    color: #695D4E;
	line-height: 1.4;
}

.loading,
.error {
	text-align: center;
	font-size: 1.2rem;
	padding: 2rem;
	color: #444;
}

.membership {
	margin-top: 4rem;
	text-align: center;
	z-index: 2;
	position: relative;
}

.sectionTitle {
	font-size: 1.4rem;
	color: #9a4a2f;
	margin-bottom: 0.25rem;
}

.sectionSubtitle {
	color: #d47444;
	margin-bottom: 1.5rem;
}

.perksCard {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 1rem;
	border-radius: 8px;
	max-width: 500px;
	margin: 0 auto;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.perksImage {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 4px;
	background-color: #f0f0f0;
}

.perksTitle {
	font-weight: bold;
	margin-bottom: 0.25rem;
	color: #333;
}

.perksText {
	font-size: 0.9rem;
	color: #555;
}

.wishlistIconWrapper {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
	z-index: 2;
}

.wishlistIcon {
	width: 38px;
	height: 38px;
}

.reserveButton {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	border: 1px solid #b86c4a;
	border-radius: 8px;
	background-color: white;
	color: #b86c4a;
	transition: background-color 0.2s ease;
}

.reserveButton:hover {
	background-color: #ffd9b0;
}

.signupButton {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: #b86c4a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signupButton:hover {
    background-color: #a25935;
  }
  