body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #333;
	background-color: #fff;
}

h1, h2, h3, .logo {
	font-family: 'Mochiy Pop One', cursive;
}

h1 { 
	color: #C1886D ;
}
